# CONFIGURATION
default:
  image: "registry.gitlab.com/tangram-vision/oss/ci-oss/public-ci:latest"
  before_script:
    # Update rust in case the latest version isn't built into our docker image.
    - rustup update stable

# Run pipeline for MRs and main branch
# https://docs.gitlab.com/ee/ci/yaml/workflow.html#switch-between-branch-pipelines-and-merge-request-pipelines
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

stages:
  - test
  - doc
  - build_artifacts

##### ########## ########## ########## ########## #####
# TEST STAGE
# - [PASS REQ] runs all unit tests in the build
# - [PASS REQ] runs a lint checker over every piece of code

test-and-lint:
  stage: test
  script:
    - rustc --version
    - cargo --version
    - cargo test --features buildtime-bindgen --verbose
    - cargo clippy --all-targets --features=buildtime-bindgen,test-single-device -- -D warnings -D missing_docs -D clippy::missing_docs_in_private_items

##### ########## ########## ########## ########## #####
# DOC STAGE
# - [PASS REQ] creates documentation pages
readme-check:
  stage: doc
  variables:
    # Catches and fails on non-zero status
    FF_ENABLE_BASH_EXIT_CODE_CHECK: 1
  script:
    - readme_check.sh --no-badges --no-title --no-indent-headings --no-license

build_badges:
  stage: build_artifacts
  script:
    - rustc --version
    - cargo --version
    - tangram-badge-generator -d $CI_PROJECT_DIR
  artifacts:
    paths:
      - ./ci/*.svg
    when: always
    expire_in: 4 weeks
  only:
    - main
